@import '../colors.module';

.react-grid-layout {
    direction: ltr !important; // keep layout same even with language and direction change
}

.darkTheme {

    .react-grid-item > .react-resizable-handle::after {
        border-right: 2px solid $resize-light-border;
        border-bottom: 2px solid $resize-light-border;
    }

}
