@import './colors.module';

.item {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    &.dark {
        border: 1px solid $text-light-grey;
    }
}