@import './colors.module';

.item {
    border: 1px solid black;

    &.dark {
        border: 1px solid $text-light-grey;
    }

    .header {
        display: flex;
        justify-content: end;
    }

    .content {
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}