/* @import url('/node_modules/react-grid-layout/css/styles.css');
@import url('/node_modules/react-resizable/css/styles.css'); */
@import url('./styles/global/grid-layout.scss');

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}